# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: cfd73da3d93bf5bab2772e1e829c9786ff20dcc6b6f5155a7cacd92f5dca9d7ee273298ce727e772002232054d8244a1d8c9d2ac83cd65fdeedb2d78fb88dc5c

test:
  secret_key_base: fb8586958851d7aa32d6814c85fb5521666d0a3409d25babfed6113417174676fa380147933909ca36b732c522f30794fe8a43d25487f7108f973b10cbd9694e

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
