/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require bootstrap_and_overrides
 *= require chosen
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 // <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

 body {
   /* this will move the jumbotron down 50px to compensate for the top navigation */
   margin-top: 50px;
 }
 h1, h2 {
   padding-top: -50px;
   margin-top: 50px;
 }
 .company-name {
   margin-top: 10px;
   margin-left: 10px;
   color: white;
   font-size: 20px;
 }
 .logo-image {
   /*width: 10px;*/
   /*height: 10px;*/
 }
 .bg-orange {
   background-color: teal;
 }
 .logo {
   margin-top: 10px;
   font-size: 2em;
 }
 .img-circle {
   width: 200px;
   height: 200px;
   margin-bottom: 15px;
   border: 10px darkgrey solid;
 }
 .bg-grey {
   background-color: grey;
 }

 #map {
   width: 100%;
   height: 400px;
   background-color: pink;
   padding-bottom: 500px;
 }

 table {
 border-collapse: collapse;
 width: 100%;
 }

 th, td {
     text-align: left;
     padding: 8px;
 }


 tr:nth-child(even){background-color: #f2f2f2}
 /*.site-columns {

 }*/
