<div class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
    <div class="container">
        <div class="navbar-text pull-left">
            <p>© 2016 BigShark Design Studios</p>
        </div>
        <div class="navbar-text pull-right">
            <a href="https://ca.linkedin.com/in/lextang"><i class="fa fa-linkedin fa-2x"></i></a>
            <a href="https://github.com/a-tang"><i class="fa fa-github fa-2x"></i></a>
        </div>
    </div>
</div>
